:root {
  // Classical and robust spacing system
  --space-xs: 0.5rem;    // 8px
  --space-s: 0.75rem;    // 12px
  --space-m: 1rem;       // 16px

  // Neutral colors
  --color-white:  hsl(0, 0%, 100%);
  --color-green:  hsl(143, 49%, 46%);
}
