<div class="d-flex justify-content-center">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active image-size mt-3">
        <%= image_tag "#{@photo_carousel_food}" %>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="carousel-products">High quality premium products</h1>
        </div>
      </div>
      <div class="carousel-item image-size mt-3">
        <%= image_tag "#{@photo_carousel_delivery}" %>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="carousel-products">Fast delivery</h1>
        </div>
      </div>
      <div class="carousel-item image-size mt-3">
        <%= image_tag "#{@photo_carousel_payment}" %>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="carousel-products">Convenient payment</h1>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
