<nav class="navbar navbar-dark bg-blue justify-content-center mt-3">
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <div class="position-relative ms-5">
    <% if user_signed_in? && @order.present? %>
      <%= link_to image_tag("icons/cart.svg", size: "32x28"), order_path(@order) %>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          <%= @order_items.size %>
      </span>
    <% else %>
    <div data-controller="card" data-card-target="link" data-card-loading-class="text-danger">
      <%= image_tag "icons/cart.svg", size: "32x28", class: "position-relative",
                                      data: { action: "click->card#toggle" } %>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0</span>
    </div>
    <% end %>
  </div>
  <div class="ms-5 text-success"><%= number_to_currency(@order&.total) %></div>
</nav>
