<div id="<%= dom_id order %>">
  <p>
    <strong>Order number: </strong>
    <%= order.id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Order address: </strong>
    <%= order.address %>
  </p>
</div>
