<%= render "shared/search" %>

<h2 class="mt-5 fw-bold">About company</h2>
</br>
<p>Place information on this page with a description of your store.</p>

<div class="fst-italic">
  <p class="fw-bold">For example:</p>

  <p class="fw-bold">Online store "Groshyk.by" – the best products at low prices!</p>

  <p>We are pleased to offer you inexpensive, but high-quality products with detailed descriptions, characteristics and photos.
    You can buy wonderful goods from us: appliances, electronics, clothes, shoes, toys, books and much more in your region at
    producer prices and without extra charge.
  </p>
  <p>The sale of a large assortment of various goods is the main specialization of our online store.
    We will deliver your order for free to any corner of the world, provide detailed advice on products and help with the choice.
  </p>
  <p>Shop "Groshyk.by" offers you to buy high-quality and affordable appliances, electronics, clothes, shoes, toys,
    books and much more with delivery! All types of modern goods from economy class to more expensive are presented in
    our catalog.
  </p>
  <p>You can buy any goods in your city: appliances, electronics, clothes, shoes, toys, books and much more.</p>

  <p class="fw-bold">Our main advantages:</p>
  <ul>
    <li>Low prices from manufacturers</li>
    <li>Delivery in the city on the day of the order</li>
    <li>Delivery of orders by Mail throughout the Country in 5-15 days</li>
    <li>Only original and certified products</li>
    <li>The warranty for all products is 5 years!</li>
    <li>Didn't like the product? We will return or exchange it within 14 days without any extra paperwork!</li>
    <li>Bonuses and discounts for regular customers</li>
  </ul>
</div>
