<%= render "shared/search" %>

<h2 class="mt-5 fw-bold">Contacts</h2>

</br>

<p>You can find us at the address: Minsk, ul. Kozlova, 123, office 456</p>
<p>How to get there: Pushkinskaya metro line, the last car from the center, exit towards the railway station.</p>
<p>Sales department phone: 8-29-123-45-67 (multichannel)</p>
<p>Phone of the wholesale department: 8-29-765-43-21</p>
<p>Email: sales@groshyk.by</p>

<p class="fw-bold">Office and warehouse opening hours:</p>

<ul class="list-inline">
  <li>Monday from 9:00 to 21:00</li>
  <li>Tuesday from 9:00 to 21:00</li>
  <li>Wednesday from 9:00 to 21:00</li>
  <li>Thursday from 9:00 to 21:00</li>
  <li>Friday from 9:00 to 21:00</li>
  <li>Saturday from 10:00 to 20:00</li>
  <li>Sunday from 10:00 to 20:00</li>
  <li>Orders via the website are accepted around the clock!</li>
</ul>

<p class="fw-bold">Requisites:</p>
<p>IP Ivanov Ivan Ivanovich</p>
<p> OGRNIP: 123456789012345</p>
<p>TIN: 123456789012</p>
<p>CHECKPOINT: 123456789</p>
