<%= render "shared/search" %>

<h2 class="fw-bold mt-5">Payment methods in Groshyk</h2>

</br>

<ul>
  <li class="ms-3">
    <h4 class="fw-bold">Payment methods</h4>
    <ul class="ms-2">
      <li>Cash or bank card to the courier.</li>
      <li>By bank card on the website.</li>
      <li>Cashless payment for legal entities.</li>
    </ul>
  </li>

  <div class="ms-3">
    <h3 class="fw-bold">The procedure for online payment by bank cards</h3>
    <p class="mt-3">Visa, Mastercard, MIR bank cards are accepted for payment. After confirming the order,
      you will be redirected to a secure payment page. No additional fees or commissions are
      charged for online payment.
    </p>
    <p><b>Please note:</b> when paying for an order through the website, it is necessary to specify the mobile phone number
      of the recipient of the order in the order. Upon delivery, an SMS code will be sent to this phone number,
      which will need to be dictated to the courier to receive the parcel.
    </p>
  </div>

  <li class="list-unstyled">
    <ul class="ms-4">
      <li>In the process of paying with a bank card, enter its number, expiration date, CVV code indicated on the back,
        as well as the name and surname of the owner in English (as on the card).
      </li>
      <li>Make sure that you have entered the correct data, and then click on the "Pay" button.</li>
      <li>If your bank card supports 3D Secure technology, you will automatically go to your bank's website,
        where you will be asked to enter a secret activation code that will be sent to your phone.
      </li>
      <li>If the card details are entered correctly and there is enough money on the account, you will see a confirmation of
        payment for the order. After that, you will be asked to return to the page of the paid order.
      </li>
    </ul>
  </li>
</ul>
