<%= render "shared/search" %>

<h2 class="fw-bold mt-5">Your personal account</h2>
<div class="mt-3">
  <%= link_to "My addresses /", addresses_path, class: "text-muted h5" %>
</div>

</br>

<p class="mt-5">Here will be the content of the page</p>