<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between mt-5">
  <h2>Delivery Addresses</h2>
  <div>
    <%= link_to "+ Add new Address", new_address_path, class: "btn btn-dark",
                                          data: { turbo_frame: dom_id(Address.new) } %>
  </div>
</div>

<div class="mx-auto w-652">
  <%= turbo_frame_tag "new_address" %>
</div>

<% if current_user.addresses.present? %>
  <div class="shadow-lg p-5 mb-5 mt-5 bg-body rounded">
    <div id="addresses">
      <% @addresses.each do |address| %>
        <%= render address %>
      <% end %>
    </div>
  </div>
<% end %>
