.flash {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 50%;
  max-width: 100%;
  padding: 0 var(--space-m);
  position: fixed;
  top: 5rem;
  transform: translateX(-50%);
  width: max-content;
  //gap: var(--space-s);

  &__message {
    animation: appear-then-fade 4s both;
    background-color: var(--color-green);
    border-radius: 999px;
    color: var(--color-white);
    font-size: var(--font-size-s);
    padding: var(--space-xs) var(--space-m);
  }
}
