.image-size {
  height: 470px;
  width: 1400px;
}

.product-container {
  width: 1400px;
}

.footer {
  margin-top: 150px;
}

.main-footer {
  width: 1408px;
}

.feedback-form {
  width: 680px;
}

.carousel-products {
  margin-bottom: 175px;
}

.rubbish-padding {
  padding: 6px;
}

.w-405 {
  width: 405px;
}

.w-652 {
  width: 652px;
}
