<div class="row">
  <h2 class="mt-5"><b>Benefits</b></h2>
</div>
<div class="row mt-5">
  <div class="d-flex gap-3 text-center">
    <div class="col">
      <%= image_tag("icons/list.svg") %>
      <h3 class="mt-2"><b>A wide range</b></h3>
      <p>
        We buy fruits and vegetables all over the world - from Ecuador to China. More than 400 varieties of
        vegetables and fruits are presented on our shelves.
      </p>
    </div>
    <div class="col">
      <%= image_tag("icons/finger_up.svg") %>
      <h3 class="mt-2"><b>Always fresh</b></h3>
      <p>
        Fruits and vegetables are transported in refrigerated vehicles with different temperature regimes.
        We know how many degrees are inside each fruit!
      </p>
    </div>
    <div class="col">
      <%= image_tag("icons/sign.svg") %>
      <h3 class="mt-2"><b>Quality control</b></h3>
      <p>
        We control quality - from the supplier to the shelf. For storage, we use the most modern equipment.
      </p>
    </div>
  </div>
</div>
