<div class="row">
  <h2 class="mt-4"><b>Customer Reviews</b></h2>
</div>
<div class="row gap-4 mt-3">
  <div class="col bg-light p-4">
    <h4><b>Alexei</b></h4>
    <p class=" mb-3 mt-3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque ultrices tincidunt.
      Sed malesuada ipsum tellus, eget auctor nisl luctus vitae. Duis nec eros turpis. Sed convallis felis dui,
      sed suscipit nisi lobortis id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque
      ultrices tincidunt. Sed malesuada ipsum tellus, eget auctor nisl luctus vitae. Duis nec eros turpis.
      Sed convallis felis dui, sed suscipit nisi lobortis id.
    </p>
  </div>
  <div class="col bg-light p-4">
    <h4><b>Elena</b></h4>
    <p class=" mb-3 mt-3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque ultrices tincidunt.
      Sed malesuada ipsum tellus, eget auctor nisl luctus vitae. Duis nec eros turpis. Sed convallis felis dui,
      sed suscipit nisi lobortis id.
    </p>
  </div>
  <div class="col bg-light p-4">
    <h4><b>Olga</b></h4>
    <p class=" mb-3 mt-3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque ultrices tincidunt.
      Sed malesuada ipsum tellus, eget auctor nisl luctus vitae. Duis nec eros turpis. Sed convallis felis dui,
      sed suscipit nisi lobortis id.
    </p>
  </div>
</div>
