<ul class="bg-light p-4 list-inline">
  <div id="<%= dom_id review %>">
    <li class="h4 font-weight-bold"><%= review.user.full_name %></li>
    <li class=" mb-3 mt-3 w-405"><%= review.description %></li>
  </div>
</ul>
