<%= turbo_frame_tag "new_review" do %>
  <div class="bg-light p-4 mx-auto w-50">
    <h5 class="text-danger text-center">"Please register to write a review."</h5>
    <div class="text-center mt-4">
      <%= link_to "Sign up now", new_user_registration_path, data: { turbo: "false" }, class: "btn btn-danger" %>
    </div>
    <div class=" d-flex justify-content-center mt-3">
      <div class="row">
        <p class="col text-muted">Already a member?
        <%= link_to "Sign in", new_user_session_path, data: { turbo: "false" }, class: "text-danger" %></p>
      </div>
    </div>
  </div>
<% end %>
